<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <style>
        .prokrutka {
            height: 500px;
            width: 50%;
            background: #fff;
            border: 1px solid #C1C1C1;
            overflow-x: scroll;
            overflow-y: scroll;
        }
    </style>
</head>

<body>

<form th:action="@{/search(id = ${folderParent})}" method="post">
    <input type="text" size="50" name="searchTerm" id="searchTerm">
    type:
    <select name="type" id="type">
        <optgroup label="Select Type"></optgroup>
        <option th:value="null"></option>
        <option th:each="type : ${types}"
                th:value="${type}"
                th:text="${#strings.toLowerCase(type)}">
        </option>
    </select>
    <input type="submit" class="submit" value="Search"><br>
</form>

<span th:if="${folderParent} != null">
    <a th:href="@{/folder(id = ${folderParent})}"><span class="glyphicon glyphicon-circle-arrow-left"></span>Back</a>
</span>
<br>
<br>
<div class="prokrutka">
    <div class="form-group">
        <div th:each="folder : ${items.getFolderAction().getListFolders()}">
            <span class="glyphicon glyphicon-folder-open"></span>
            <a th:href="@{/folder(id = ${folder.getID()})}">
                <span th:text="${#strings.capitalize(#strings.toLowerCase(folder.getInfo().getName()))}">Folder</span>
            </a>
        </div>
    </div>

    <div class="form-group">
        <div th:each="file : ${items.getFileAction().getListFiles()}">
            <span class="glyphicon glyphicon-file"></span>
            <a th:href="@{/file(idFile = ${file.getID()})}">
                <span th:text="${#strings.capitalize(#strings.toLowerCase(file.getInfo().getName()))}">File</span>
            </a>
        </div>
    </div>
</div>

<h3>Upload</h3>
<form method="POST" enctype="multipart/form-data" th:action="@{/upload}">
    <input type="file" name="file"/>
    <input type="submit" value="Upload"/>
</form>

</body>
</html>